.tokenizer/TinyStoriesV2-GPT4-train-encoded.npy filter=lfs diff=lfs merge=lfs -text
.tokenizer/TinyStoriesV2-GPT4-valid-encoded.npy filter=lfs diff=lfs merge=lfs -text
.models/*.pt filter=lfs diff=lfs merge=lfs -text
